# Add any directories, files, or patterns you don't want to be tracked by version control
.DS_Store
lec*.aux
lec*.log
lec*.out
lec*.nav
lec*.snm
lec*.toc
lec*.vrb
lec*.xdv
lec*.fdb_latexmk
lec*.fls
*eps-conververted-to.pdf
*-eps-converted-to.pdf
lec*.synctex.gz
